/* dotos correctos form_items */
.center_item {
  margin-right: 5em;
}

.name_color_pay {
  color: #751a94;
}
.number_pay {
  border: 2px dotted #751a94;
  padding: 0.5em 1em;
  border-radius: 10px;
  color: #751a94;
}

/*posicion exacta de la pantalla en el resultado de la compra  */
.result_page {
  height: 58vh;
}

.underline:hover {
  text-decoration: underline;
  text-decoration-color: #1890ff;
  cursor: pointer;
}

.facebook_login {
  width: 110px;
  border: none;
  background-color: #3578e5;
  border-radius: 3px;
  color: #fff;
  padding: 0.7em 0.8em;
  cursor: pointer;
}

.container_404 {
  height: 67vh;
}
